/* common */

body {
  margin: 0;
}

img {
  vertical-align: bottom;
}

h1,
h2,
p {
  margin: 0;
}

h1,
h2,
h3 {
  font-weight: normal;
}

.container {
  width: 400px;
  margin: 0 auto;
}

/* header */

header {
  background: #a37558;
  display: flex;
  padding: 0 18px;
  
} 

.sp-menu {
  margin-left: auto;
}

.sp-menu #open {
  font-size: 32px;
  line-height: 64px;
  cursor: pointer;
}

.sp-menu #open.hide {
  display: none;
}


header h1 {
  margin: 0;
  font-size: 24px;
  line-height: 88px;
}

header p {
  font-size: 14px;
}



/* main */


main h1 {
  font-size: 24px;
  text-align: center;
  /* padding: 60px 0; */
  margin: 60px 0;
  border: 1px solid #a37558;
}

main h2 {
  font-size: 24px;
  /* padding: 18px 0; */
  margin: 18px 0;
  border-bottom: 1px solid #a37558;
}

main h3 {
  font-size: 20px;
  margin-top: 16px;
}

main p {
  line-height: 1.8;
  margin-top: 16px;
}

main section + section {
  margin-top: 60px;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.95);
  text-align: center;
  padding: 64px;
  opacity: 0;
  pointer-events: none;
  transition: opacity .6s;
}

.overlay.show {
  opacity: 1;
  pointer-events: auto;
}

.overlay #close {
  position: absolute;
  top: 16px;
  right: 16px;
  font-style: 32px;
  cursor: pointer;
}

.overlay ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.overlay li {
margin-top: 24px;
opacity: 0;
transform: translateY(16px);
transition: opacity .3s, transform .3s;
}

.overlay.show li {
  opacity: 1;
  transform: none;
}

.overlay.show li:nth-child(1) {
  transition-delay: .1s;
}

.overlay.show li:nth-child(2) {
  transition-delay: .2s;
}

.overlay.show li:nth-child(3) {
  transition-delay: .3s;
}

.overlay.show li:nth-child(4) {
  transition-delay: .4s;
}

.overlay.show li:nth-child(5) {
  transition-delay: .5s;
}

/* footer */

footer {
  padding: 60px 0;
  text-align: center;
  background: #a37558;
  color: #fff;
}

/* animation */

.animate {
  opacity: 0;
  /* transform: translateY(20px); */
  transition: opacity .3s, transform .3s;
}

.animate.slide-from-right {
  transform: translateX(40px);
}
.animate.slide-from-left {
  transform: translateX(-40px);
}

.animate.appear {
  opacity: 1;
  transform: none;
}

.pc-menu {
  display: none;
}

@media (min-width: 600px) {
  .pc-menu {
    display: block;
    margin-left: auto;
  }

  .pc-menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
  }

  .pc-menu a {
    display: block;
    width: 88px;
    line-height: 88px;
    text-align: center;
  }

  .pc-menu a:hover {
    background: #f2f2f2;
  }

  .sp-menu {
    display: none;
  }
}