/* 確認用実線 */

/* outline:solid 3px red; */

/* common */

body {
  margin: 0;
}

img {
  vertical-align: bottom;
}

h1,
h2,
p {
  margin: 0;
}

h1,
h2,
h3 {
  font-weight: normal;
}

.container {
  width: 400px;
  margin: 0 auto;
}



/* header */

header {
  background: #a37558;
  display: flex;
  padding: 0 18px;
} 

.sp-menu {
  margin-left: auto;
}

.sp-menu #open {
  font-size: 32px;
  line-height: 64px;
  cursor: pointer;
}

.sp-menu #open.hide {
  display: none;
}

header p {
  font-size: 14px;
}

header .pc-menu a {
  text-decoration: none;
  color: rgb(226, 195, 147);
}


/* main */

.introducution p {
  text-align: center;
  padding-bottom: 50px;
  color: #a37558;
}


main h1 {
  font-size: 28px;
  text-align: center;
  margin-top: 60px;
  margin-bottom: 60px;
  border-bottom: 1px solid #a37558;
}

main h2 {
  font-size: 22px;
  padding: 5px 0;
  border-bottom: 1px solid #a05a77;
  width: 400px;
}

main h3 {
  font-size: 20px;
  margin-top: 56px;
  margin-bottom: 16px;
}

main p {
  line-height: 1.8;
  /* margin-top: 16px; */
}

main section + section {
  margin-top: 60px;
}

/* width: 100%;
  height: 880px;
  object-fit: cover;
  position: absolute;
  opacity: 0;
  transition: opacity 1.8s;
  z-index: 0; */

.aboutimage img {
  width: 100%;
}

/* ハンバーガーメニュー */

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(230, 205, 218, 0.95);
  text-align: center;
  padding: 64px;
  opacity: 0;
  pointer-events: none;
  transition: opacity 1.5s;
}

.overlay.show {
  opacity: 1;
  pointer-events: auto;
  z-index: 999;
}

.overlay #close {
  position: absolute;
  top: 16px;
  right: 16px;
  font-style: 32px;
  cursor: pointer;
}

.overlay ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.overlay li {
margin-top: 24px;
opacity: 0;
transform: translateY(16px);
transition: opacity .3s, transform .3s;
}

.overlay.show li {
  opacity: 1;
  transform: none;
  display: block;
  line-height: 80px;
  cursor: pointer;
}

.overlay.show li:hover {
  background: rgb(252, 238, 251);
}


/* クリックしたら消したい */
/* .overlay.show li:click {
  display: none;
} */

.overlay.show li:nth-child(1) {
  transition-delay: .1s;
}

.overlay.show li:nth-child(2) {
  transition-delay: .2s;
}

.overlay.show li:nth-child(3) {
  transition-delay: .3s;
}

.overlay.show li:nth-child(4) {
  transition-delay: .4s;
}

.overlay.show li:nth-child(5) {
  transition-delay: .5s;
}

.overlay a:-webkit-any-link {
  color: #a37558;
  cursor: pointer;
  text-decoration: none;
}

/* hero */

.hero {
  height: 880px;

}

.hero img {
  width: 100%;
  height: 880px;
  object-fit: cover;
  position: absolute;
  opacity: 0;
  transition: opacity 1.8s;
  z-index: 0;
}

.hero img.current {
  opacity: 1;
}


/* small screen */

@media (min-width: 0px) and (max-width: 599px) {

  .hero img {
    height: 320px;
  }

  .hero {
    height: 320px;
  }

  main p {
    margin-top: 16px; 
  }

  main h2 {
    padding: 5px;
    margin-top: 96px;
    margin-bottom: 40px;
  }
}

/* medium screen */

@media (min-width: 600px) and (max-width: 799px) {

  /* header .pc-menu a {
    width: 50%;
  } */

  .hero img {
    height: 560px; 
  }

  .hero {
    height: 560px;
  }

  .container {
    /* width: 600px; */
    /* width:calc(100% - 100)px; */
    margin: 0 auto;
  }

  p {
    flex:1;
    padding: 0 20px;
    font-size: 16px;
  }
  main h2 {
    padding: 5px;
    margin-top: 96px;
    margin-bottom: 40px;
  }

  .explantion {
    padding-top: 20px;
  }
}

/* large screen */

@media (min-width: 800px) and (max-width: 2000px){
  .container {
    width: 800px;
    margin: 0 auto;
    padding: 20px 20px;
  }

  section {
    display: flex;
  }

  p {
    flex:1;
    padding: 20px 20px;
    font-size: 16px;
  }
  main h2 {
    padding: 5px;
    margin-top: 96px;
    margin-bottom: 40px;
  }
  .contact-form {
     margin-left: 200px;
  }
}

/* contact form */

input,textarea {
  width: 400px;
  margin-top: 10px;
  margin-bottom: 30px;
  padding: 20px;
  font-size: 18px;
  border: 1px solid #dee7ec;
}

.contact-submit {
 cursor: pointer;
 } 

.contact-submit:hover {
  background: #dee7ec;
  color: #889eab;
}

/* footer */

footer {
  padding: 60px 0;
  text-align: center;
  background: #a37558;
  color: #fff;
}

/* animation */

.animate {
  opacity: 0;
  /* transform: translateY(20px); */
  transition: opacity .3s, transform .3s;
}

.animate.slide-from-right {
  transform: translateX(40px);
}
.animate.slide-from-left {
  transform: translateX(-40px);
}

.animate.appear {
  opacity: 1;
  transform: none;
}

.pc-menu {
  display: none;
}

@media (min-width: 600px) {
  .pc-menu {
    display: block;
    margin-left: auto;
  }

  .pc-menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
  }

  .pc-menu a {
    display: block;
    width: 88px;
    line-height: 100px;
    text-align: center;
    
  }

  .pc-menu a:hover {
    background: #ac9aa0;
  }

  .sp-menu {
    display: none;
  }
}